<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>{{page.title}}</title>
  </head>
  <body>
    <nav>
      {% include navbar.html %}
      </nav>
    <header>
      <p> Content Header <p>
        </header>
        {{content}}
    <footer>
      <p> {% include footer.html %} </p>
      </footer>
  </body>
</html>
